# Maven / Java
target/
*.class
*.jar
*.war
*.ear

# Logs
*.log
logs/

# Environment variables
.env
.env.local

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
*.pid

# Temporary files
tmp/
temp/
# Curl cookie test files
cookies.txt
register-cookies.txt



# Local API test files
login-admin.json
login-auditor.json
project-create.json
project-update.json
assign-auditor.json
admin-cookies.txt
auditor-cookies.txt
cookies.txt
register-cookies.txt

# Local API test files
login-admin.json
login-auditor.json
project-create.json
project-update.json
assign-auditor.json
finding-create.json
finding-update.json
admin-cookies.txt
auditor-cookies.txt
cookies.txt
register-cookies.txt